<div class="container">
  <div class="header">My Projects</div>
  <div class="subHeader">Extemp Relief</div>
  <div fxLayout fxLayoutAlign="center center">
    <img class='reliefImage'  src="../../assets/extemp relief screen shot_dell-xps15-front.png"/>
  </div>
  <div class="build" fxLayout fxLayoutAlign="center center">Built With</div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex>Angular 4.0</div>
    <div fxFlex>CSS </div>
    <div fxFlex>Javascript</div>
    <div fxFlex>HTML 5</div>
    <div fxFlex>AWS</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout><img src="https://png.icons8.com/ios/50/000000/css3-filled.png"></div>
    <div fxLayout><img src="https://png.icons8.com/ios/50/000000/css3-filled.png"></div>
    <div fxLayout><img src="https://png.icons8.com/ios/50/000000/css3-filled.png"></div>
    <div fxLayout><img src="https://png.icons8.com/ios/50/000000/css3-filled.png"></div>
    <div fxLayout><img src="https://png.icons8.com/ios/50/000000/css3-filled.png"></div>
  </div>
