<div>
  <div class="header">Contact Me</div>
  <div class="row custom-row">
    <div class= "col-sm-5 custom-container jumbotron">

      <form class="form-horizontal">
        <fieldset>
          <legend>Contact Me</legend>

          <!--- Email Block --->
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text"
                   id="inputEmail"
                   placeholder="Email">
          </div>
          <!--- Names Block --->
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text"
                   id="firstName"
                   placeholder="First Name">
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text"
                   id="lastName"
                   placeholder="Last Name">
          </div>

          <!--- Select Contact Reason Block --->
          <div class="form-group">
            <label for="select">Contact Reason</label>
            <select id="select">
              <option>Job Opportunity</option>
              <option>Collaboration</option>
              <option>Other</option>
            </select>
          </div>

          <!--- Cool guy check --->
          <div class="form-group checkbox">
            <label>
              <input type="checkbox"> Confirm you think I'm a cool guy
            </label>
          </div>

          <!--- Buttons Block --->
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>


<a href="https://icons8.com">Icon pack by Icons8</a>
