/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Lato', sans-serif;
}
.header{
  text-align: center;
  font-size: 3em;
  padding-bottom: 50px;
}
.subHeader{
  text-align: center;
  font-size: 2em;
}
/*.iconEight{*/
/*height: 5px;*/
/*}*/
